---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="container">
    <div class="col8 pre2">
        <div class="box box-content">
        	<p class="btn-back"><a href="/"><span class="arrow">&#8592;</span> Back</a></p>
			<article class="post">
				<header>
				    <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
				    <p class="post-meta">
				    	{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} • <a href="{{ page.url }}index.html#disqus_thread" data-disqus-identifier="{{page.url}}"></a> • {{ page.meta }}{% endif %}
	                    <span class="avatar">
	                        <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}.png"/>
	                    </span>
				    </p>
				</header>
				<div class="post-content">
					{{ content }}
				</div>
				<footer>
					<p class="btn-wrap">
                    	<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank" class="btn btn-facebook"><em class="icon icon-facebook-squared"></em> Post to Facebook</a>
                    	<a href="http://twitter.com/share?text={{ page.title }}%20%40Cyberduck_UK" target="_blank" class="btn btn-twitter"><em class="icon icon-twitter"></em> Share on Twitter</a>
                    	<a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" target="_blank" class="btn btn-google"><em class="icon icon-gplus-squared"></em> Add to Google+</a>
                    </p>
				</footer>
			</article>
        	<p class="btn-back"><a href="/"><span class="arrow">&#8592;</span> Back</a></p>
            {% if page.comments %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'theduckpond';
                    // var disqus_developer = 1; // For local development
                    var disqus_identifier = "{{ page.url }}";
                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'theduckpond'; // required: replace example with your forum shortname
                    // var disqus_developer = 1; // For local development
                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function () {
                        var s = document.createElement('script'); s.async = true;
                        s.type = 'text/javascript';
                        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                    }());
                </script>
            {% endif %}
		</div>
	</div>
</div>
